*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-style: oblique;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

.navigation {
    position: fixed;
    top: 2%;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}

.center {
    font-weight: 800;
    font-size: 1.1rem;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center a {
    text-decoration: none;
    color: black;
}
.center p {
    cursor: pointer;
    padding: 0.5% 1%;
    border-radius: 1rem; 
    transition: 0.5s;
}

.center p:hover  {
    background: rgba(163, 163, 163,0.4);
}

.end {
    font-weight: 800;
    font-size: 1.1rem;
    cursor: pointer;
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.end p {
    padding:1% 2.5%;
    border-radius: 1rem;
    transition: 0.5s;
}

.end p:hover {
    background: rgba(163, 163, 163,0.4);
}

.model {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity : 1;
    transition: 2s;
}

.model.active>div {
    opacity : 0;
}

.model>div .top h1 {
    color: rgb(43, 43, 43);
}

.model>div .top p,
.model>div .top p a {
    color: rgb(99, 99, 99);
}

.model>div  {
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.model .arrow  {
    font-size: 1.6rem;
    position: absolute;
    bottom: 3%;
    transform: rotate(90deg);
    border-radius: 10px;
    transition: 0.5s;
    font-style: normal;
}

.model .arrow.active {
    bottom: 1.5%;
}

.model>div .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.model>div .bottom button {
    font-style: oblique;
    padding: 0.5rem 0;
    width: 45%;
    border: 0;
    outline: 0;
    border-radius: 1rem;
    color: rgb(87, 87, 87);
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.5s;
}

.model>div .bottom button:hover {
    transform: scale(1.05);
}

.model>div .bottom .first{
    font-weight: 550;
    color: white;
    background: rgba(126, 125, 125,0.7);
}

.model_s {
    background: url(./ta_model-s/ta_model-s/0x0-ModelS_05.jpg);
    background-position: center;
    background-size:cover;
}

.model_y {
    background: url(./ta_model-y/ta_model-y/0x0-Model_Y_05.jpg);
    background-position: center;
    background-size: cover;
}

.model_3 {
    background: url(./ta_model-3/ta_model-3/0x0-Model3_06.jpg);
    background-position: center;
    background-size: cover;
}

.model_x {
    background: url(./model-x-v2/model-x-v2/0x0-ModelX_06.jpg);
    background-position: center;
    background-size: cover;
}

.solar_panels {
    background: url(./ta_solar-panels/ta_solar-panels/0x0-Solar_Panels_06.jpg);
    background-position: center;
    background-size: cover;
}

.solar_roofs {
    background: url(./ta_solar-roof/ta_solar-roof/0x0-Solar_Roof_01.jpg);
    background-position: center;
    background-size: cover;
}

.accessories {
    background: url(./ta_charging/ta_charging/0x0-WallConnector_02.jpg);
    background-position: center;
    background-size: cover;
}

.accessories>div .bottom {
    justify-content: center;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
}

.copyright div{
    width: 50%;
    transform: translateY(-1rem);
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.blur {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 700%;
}

.side_nav {
    position:fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s;
}

.side_nav.active{
    transform: translateX(0);
}

.side_nav div {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20%;
    font-style:oblique;
}

.side_nav div p {
    cursor: pointer;
}

.side_nav button {
    cursor: pointer;
    position: fixed;
    top: 2.5%;
    right: 15%;
    background: transparent;
    border: 0;
    font-size: 1.2rem;
    font-weight: 800;
    transform: scale(1);
    transition: transform 0.5s;
}

.side_nav button:hover {
    transform: scale(1.3);
}